<?php

declare(strict_types=1);

namespace [NAMESPACE];

use Solver\Task;

class [KEY] extends Task
{
    protected function solve(array $lines): string
    {
        return 'not-implemented';
    }
}
